<section id="slider"><!--slider-->

<div class="container bootstrap snipets">
    <h1 class="text-center text-muted">Product catalog</h1>
    <div class="row flow-offset-1">
      <div class="col-xs-6 col-md-4" *ngFor="let prod of products | paginate: { itemsPerPage: 5, currentPage: p }">
        <div class="product tumbnail thumbnail-3"><a href="#"><img src="{{'data:image/jpeg;base64,' + prod.productImg}}" height="80" width="80" alt=""></a>
          <div class="caption">
            <h6><a href="#">{{prod.productname}}</a></h6><span class="price">
              <del>${{prod.price}}</del></span><span class="price sale">${{prod.price}}</span>
              <img  src="http://localhost:8091/api/qr-code/{{prod.product_id}}" height="50" width="75"   />
          </div>
         
        </div>

        <span class="badge badge-primary" style="color:aliceblue">
            <i class="fa fa-thumbs-up" aria-hidden="true"  (click)="addLikes(prod.product_id)"></i>
            <small>
                {{prod.like}}
            </small>
     
     
            <i class="fa fa-eye" aria-hidden="true" (click)="addViews(prod.product_id)"></i>
            <small>
                {{prod.productViews}}
            </small>
     
            
            <i class="fa fa-thumbs-down" aria-hidden="true"  (click)="addDeslikes(prod.product_id)"></i>
            <small>
                {{prod.deslike}}
            </small>



            <span class="badge badge-danger" (click)="putFavourite(prod.product_id)">
                   <i class="fa fa-heart">

                   </i>
            </span>
            </span>
            <a [routerLink]="['/home/productdet', prod.product_id]"    class="p-name">{{prod.productname}}</a>
      </div>

  
      
      </div>
      
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</section>