<section id="slider"><!--slider-->
    
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="osahan-account-page-left shadow-sm bg-white h-100">
                <div class="border-bottom p-4">
                    <div class="osahan-user text-center">
                        <div class="osahan-user-media">
                            <img class="mb-3 rounded-pill shadow-sm mt-1" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="gurdeep singh osahan" *ngIf="!profs.lprofile.picprofile">
                           

                            <img class="mb-3 rounded-pill shadow-sm mt-1" [src]="'data:image/jpeg;base64,'+ profs.lprofile.picprofile" *ngIf="profs.lprofile.picprofile" alt="gurdeep singh osahan">
                            <div class="osahan-user-media-body">
                                <h6 class="mb-2">
                                    {{username}}
                                </h6>
                                <p class="mb-1"> {{profs.lprofile.tel}}</p>
                                <p> {{profs.email}} </p>
                                <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" data-toggle="modal" data-target="#edit-profile-modal" href="#"><i class="icofont-ui-edit"></i> EDIT</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="favourites-tab" data-toggle="tab" href="#favourites" role="tab" aria-controls="favourites" aria-selected="false"><i class="icofont-heart"></i> Favorites</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade  active show" id="favourites" role="tabpanel" aria-labelledby="favourites-tab">
                        <h4 class="font-weight-bold mt-0 mb-4">Favorites</h4>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 mb-4 pb-2" *ngFor="let p of favourites.products | paginate: { itemsPerPage: 3, currentPage: p }">
                                <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                                    <div class="list-card-image">
                                        <div class="star position-absolute"><span class="badge badge-success"><i class="icofont-star"></i> 3.1 (300+)</span></div>
                                        <div class="favourite-heart text-danger position-absolute"><a href="#"><i class="icofont-heart"></i></a></div>
                                        <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span></div>
                                        <a href="#">
                                            <img [src]="'data:image/jpeg;base64,' + p.productImg" class="img-fluid item-img" height="50" width="80">
                                        </a>
                                    </div>
                                    <div class="p-3 position-relative">
                                        <div class="list-card-body">
                                            <h6 class="mb-1"><a href="#" class="text-black">{{p.productname}}
                                             </a>
                                          </h6>
                                            <p class="text-gray mb-3">{{p.price}}</p>
                                            <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i class="icofont-wall-clock"></i> 15–30 min</span> <span class="float-right text-black-50"> $350 FOR TWO</span></p>
                                        </div>
                                        <div class="list-card-badge">
                                            <span class="badge badge-danger">OFFER</span> <small>  #  {{p.codebar}}</small>



                                        </div>
                                        <a [routerLink]="['/home/productdet', p.product_id]"    class="p-name">{{p.productname}}</a>
                                    </div>
                                </div>
                            </div>
                        
                               
                            </div>
                            <div class="col-md-12 text-center load-more">
                                <button class="btn btn-primary" type="button" disabled="">
                                    <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.example.com&p[images][0]=&p[title]=Title%20Goes%20Here&p[summary]=Description%20goes%20here!" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false"><button style="width:100%; margin-top:10px;" type="button" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-2"></i> Share on Facebook</button></a>
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Loading...
                                </button>
                            </div>
                        </div>

                        
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>